.services{
    padding: 200px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.services span{
    margin-bottom: 2rem;
}

.services h2{
    text-align: center;
    font-size: 2.66rem;
    margin-bottom: 2rem;
}

.services-group{

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem;
}

.services-group .services-box{
    
    padding: 1rem;
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: .4s;
}

.services-group .services-box:hover{
    transform: translateY(-3px);
}
.services-group .services-box i,h3,p{
   margin-bottom: 2rem;
}

.services-group .services-box i{
    font-size: 2rem;
}


@media (min-width:1042px){
    .services-group{
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }

    .services-group .services-box{
        max-width: 400px;
        width: 100%;
    }

    .services-group .services-box i{
        font-size: 3rem;
    }

    .services h2{
        font-size: 3rem;
    }
}